.container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.boxes{
    border: 1px solid black;
    padding: 1rem;
}
button{
    border: none;
}
.hidden-content{
    display: none;
}
.hidden-content.reveal-btn{
    display: block;
}